body{
    padding: 0;
    margin: 0;
}

#menu{
    position: fixed;
    top: 0;
    z-index: 999;
    background-color:#333333;
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: wheat;
}

#menu a{
    margin: auto 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
